body{
  background-color: #D2DEF8;
}
.main-container{
  transform: translateY(25%);
  width:37vw;
  margin:auto;
  text-align: center;
}
.date-container{
  display: grid;
  grid-template-columns: 50% 50%;
 
}

h3{
  letter-spacing: 2px;
  
}
.selected-date{
  height:30px;
}
.calendar{
  background-color: #0F1C44;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}
.dates{
 
  font-size: 22px;
  color:#7C90BB;
  padding: 15px;
  display: inline-block;
  cursor: pointer;

}
.dates:hover{
  background-color: #213A78;
  color:white;
}

